################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BiztalkEnchereOrchestration/bin/Debug
/BiztalkEnchereOrchestration/obj/Debug
/BiztalkEnchereSchemas/bin/Debug
/BiztalkEnchereSchemas/obj/Debug
