<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceEnchere_NBSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55661/ServiceEnchere_NB.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceEnchere_NBSoap"
                contract="ServiceEnchereReference.ServiceEnchere_NBSoap" name="ServiceEnchere_NBSoap" />
        </client>
    </system.serviceModel>
</configuration>