<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<appSettings><add key="BiztalkEnchereOrchestration.WebServiceEnchere.ServiceEnchere_NB" value="http://localhost:55661/ServiceEnchere_NB.asmx"/></appSettings></configuration>
